In [1]:
import pandas as pd

athletes = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')

In [2]:
print(f"athlete_events shape: {athletes.shape}")
print(f"noc_regions shape: {noc.shape}")

athlete_events shape: (271116, 15)
noc_regions shape: (230, 3)

In [5]:
print(athletes.head())
print(athletes.info())
print(athletes.describe())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None
                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

In [6]:
print(noc.head())
print(noc.tail())
print(noc.info())

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN
     NOC    region        notes
225  YEM     Yemen          NaN
226  YMD     Yemen  South Yemen
227  YUG    Serbia   Yugoslavia
228  ZAM    Zambia          NaN
229  ZIM  Zimbabwe          NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB
None

In [7]:
print(athletes.isnull().sum())

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [8]:
noc_athletes = set(athletes['NOC'].unique())
noc_master = set(noc['NOC'].unique())

missing_nocs = noc_athletes - noc_master

print(f"Missing NOCs (not in noc_regions.csv): {missing_nocs}")

Missing NOCs (not in noc_regions.csv): {'SGP'}

In [9]:
noc['NOC'] = noc['NOC'].replace({
    'SIN': 'SGP'
})

In [10]:
df = pd.merge(athletes, noc, how='left', on='NOC')
print(df.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal       region notes
0       Basketball Men's Basketball   NaN        China   NaN
1      Judo Men's Extra-Lightweight   NaN        China   NaN
2           Football Men's Football   NaN      Denmark   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold      Denmark   NaN
4  Speed Skating Women's 500 metres   NaN  Netherlands   NaN

In [11]:
missing_rows = df[df['region'].isnull()]
print(f"Rows with blank region: {missing_rows.shape[0]}")

Rows with blank region: 21

In [12]:
df['region'] = df['region'].fillna('Unknown')
print(f"Blank regions after fill: {df['region'].isnull().sum()}")

Blank regions after fill: 0

In [15]:
df['Height_Imputed'] = df.groupby(['Sport', 'Sex'])['Height'].transform(lambda x: x.fillna(x.mean()))
overall_height_mean = df['Height'].mean()
df['Height_Imputed'] = df['Height_Imputed'].fillna(overall_height_mean)

In [16]:
df['Weight_Imputed'] = df.groupby(['Sport', 'Sex'])['Weight'].transform(lambda x: x.fillna(x.mean()))
overall_weight_mean = df['Weight'].mean()
df['Weight_Imputed'] = df['Weight_Imputed'].fillna(overall_weight_mean)

In [17]:
df['Age_Imputed'] = df.groupby(['Sport', 'Sex'])['Age'].transform(lambda x: x.fillna(x.mean()))
overall_age_mean = df['Age'].mean()
df['Age_Imputed'] = df['Age_Imputed'].fillna(overall_age_mean)

In [18]:
df['IsMedalist'] = df['Medal'].notnull().astype(int)

In [19]:
print(df.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  ...       City          Sport  \
0  CHN  1992 Summer  1992  ...  Barcelona     Basketball
1  CHN  2012 Summer  2012  ...     London           Judo
2  DEN  1920 Summer  1920  ...  Antwerpen       Football
3  DEN  1900 Summer  1900  ...      Paris     Tug-Of-War
4  NED  1988 Winter  1988  ...    Calgary  Speed Skating

                              Event Medal       region notes Height_Imputed  \
0       Basketball Men's Basketball   NaN        China   NaN     180.000000
1      Judo Men's Extra-Lightweight   NaN        China   NaN     170.000000
2           Football Men's Football   NaN      Denmark   NaN     177.480339
3       Tug-Of-War Men's Tug-Of-War  Gold      Denmark   NaN     182.480000
4  Speed Skating Women's 500 metres   NaN  Netherlands   NaN     185.000000

   Weight_Imputed  Age_Imputed  IsMedalist
0       80.000000         24.0           0
1       60.000000         23.0           0
2       73.086644         24.0           0
3       95.615385         34.0           1
4       82.000000         21.0           0

[5 rows x 21 columns]

In [56]:
medal_summary = df[df['IsMedalist'] == 1].groupby(['region', 'Year'])['Medal'].count().reset_index()
medal_summary.rename(columns={'Medal': 'Total_Medals'}, inplace=True)
print(medal_summary.head())

        region  Year  Total_Medals
0  Afghanistan  2008             1
1  Afghanistan  2012             1
2      Algeria  1984             2
3      Algeria  1992             2
4      Algeria  1996             3

In [21]:
print(df.head())
print(df[['Height_Imputed', 'Weight_Imputed', 'Age_Imputed']].isnull().sum())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  ...       City          Sport  \
0  CHN  1992 Summer  1992  ...  Barcelona     Basketball
1  CHN  2012 Summer  2012  ...     London           Judo
2  DEN  1920 Summer  1920  ...  Antwerpen       Football
3  DEN  1900 Summer  1900  ...      Paris     Tug-Of-War
4  NED  1988 Winter  1988  ...    Calgary  Speed Skating

                              Event Medal       region notes Height_Imputed  \
0       Basketball Men's Basketball   NaN        China   NaN     180.000000
1      Judo Men's Extra-Lightweight   NaN        China   NaN     170.000000
2           Football Men's Football   NaN      Denmark   NaN     177.480339
3       Tug-Of-War Men's Tug-Of-War  Gold      Denmark   NaN     182.480000
4  Speed Skating Women's 500 metres   NaN  Netherlands   NaN     185.000000

   Weight_Imputed  Age_Imputed  IsMedalist
0       80.000000         24.0           0
1       60.000000         23.0           0
2       73.086644         24.0           0
3       95.615385         34.0           1
4       82.000000         21.0           0

[5 rows x 21 columns]
Height_Imputed    0
Weight_Imputed    0
Age_Imputed       0
dtype: int64

In [22]:
df.to_csv('athletes_clean.csv', index=False)